/#xmonad.hs#
/.stack-work/
/README.html
/README.html~
/README.org~
/stack.yaml.lock
/stack.yaml.old
/xmobar.conf~
/xmonad-contrib/
/xmonad-x86_64-linux
/xmonad.errors
/xmonad.hi
/xmonad.hs.old
/xmonad.hs~
/xmonad.o
/xmonad/
